/*
Color Palette :
	Purple #61274B 
	Dark Purple #3A122D
	Cyan #00C7C4
	Yellow #FFFF00
	Grey #C4C4C4
	Orange: #F27751
	black : #160F15
	white: #FDFFFF
*/

::-webkit-scrollbar { 
    display: none; 
}
.modal-backdrop{
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-dialog{
  height: 600px;
  max-height: 90%;
  width: 830px;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -415px;	
  opacity: 0.9;
  margin-bottom: 0px;
}
.close{
  font-size: 45px;
  color: #22D2CA;
  margin:15px;
  font-weight: 600;
  text-shadow:none;
  opacity: 0.3;  
}
.close:hover{
  color: #FFFFFF;
  text-shadow:none;
  opacity: 1;
}
.white{
	color: #FFFFFF;
}
.white:hover{
	color: #22D2CA;
}
.modal-content{
	height: 100%;
	border: 2px solid rgba(250,250,250,1);
  border-radius: 50px;
}
.blueModal{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19ddd3+0,00c7c4+100 */
background: rgb(25,221,211); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5ZGRkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGM3YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(25,221,211,1) 0%, rgba(0,199,196,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,221,211,1)), color-stop(100%,rgba(0,199,196,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(25,221,211,1) 0%,rgba(0,199,196,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(25,221,211,1) 0%,rgba(0,199,196,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(25,221,211,1) 0%,rgba(0,199,196,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(25,221,211,1) 0%,rgba(0,199,196,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19ddd3', endColorstr='#00c7c4',GradientType=0 ); /* IE6-8 */
}
.whiteModal{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+33,f2f2f2+64,ffffff+100 */
background: rgb(242,242,242); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 33%, rgba(242,242,242,1) 64%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(33%,rgba(255,255,255,1)), color-stop(64%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 33%,rgba(242,242,242,1) 64%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 33%,rgba(242,242,242,1) 64%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 33%,rgba(242,242,242,1) 64%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 33%,rgba(242,242,242,1) 64%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
#slider {
  position: relative;
  overflow: auto;
}
a.control_prev, a.control_next {
  position: absolute;
  top: 70%;
  z-index: 999;
  display: block;
  padding: 4% 10%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 38px;
  opacity: 0.8;
  cursor: pointer;
}
a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
a.control_next {
  right: 0;
}
.link{
	cursor: pointer;
}
.center{
	margin: 0 auto;
	display: block;
	float: none;
}
#title{
  position: relative;
  height: 100%;
}
#section0Title{
  height: 546px;
  width: 934px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -273px;
  margin-left: -467px;
}
#section1{
  border-image: url('../image/section1/border1.png') 43 0 repeat;
  border-width: 25px 0;
}
#mainTable{
  margin-top: -20px;
  width: 880px;
}
#section1Container{
  height: 607px;
  width: 880px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -305.5px;
  margin-left: -440px;
}
#section1 hgroup{
	width: 465px;
}
#section1 h2{ 
  font-weight: 800;
  font-size: 3.5em;
  color: #61274B;
}
#section1 span{
   color: #F27751;
}
#section1leftSide{
	width: 420px;
}
#section1middleSide{
	width: 270px;
}
#mobileSection{
	height: 128px;
}
#section1Mobile {
	height: 128px;
	width: 95px;
	margin: 0 10px;
	background-image: url(../image/section1/mobile-02.svg);
	background-repeat: no-repeat;
}
#section1Mobile:hover{
	visibility: visible;
	background-image: url(../image/section1/colored/mobile_col-02.svg);
	background-repeat: no-repeat;
}
.colored{
	visibility: hidden;
}
#section1lamp:hover .colored{
	visibility: visible;
}
#section1lamp:hover .uncolored{
	visibility: hidden;
}
#radioPale{
	margin-right: 20px;
	height: 175px;
	width: 118px;
	background-image: url(../image/section1/radio-06.svg);
	background-repeat: no-repeat;
	display: inline-table;
}
#radioPale:hover{
	background-image: url(../image/section1/colored/radio_col.svg);
	background-repeat: no-repeat;
}
#musicNotes{
  visibility: hidden;
  margin-top: -175px;
  margin-right: 59px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
}
#lampPale{
	margin-bottom: 15px; 
}
#section1rightSide{
	width: 201px;
}
#tvSection:hover .colored{
	visibility: visible;
}
#tvSection:hover .uncolored{
	visibility: hidden;
}
#newspaper:hover .colored{
	visibility: visible;
}
#newspaper:hover .uncolored{
	visibility: hidden;
}
#magazine:hover .colored{
	visibility: visible;
}
#magazine:hover .uncolored{
	visibility: hidden;
}
#section2Container{
  height: 465px;
  width: 1053px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -232.5px;
  margin-left: -526.5px;
}
#section2{
  border-image: url('../image/section2/border2.png') 207 0 140 0 repeat;
  border-width: 100px 0 70px 0;
}
#section2Title{
  width: 500px;
}
#section2Title img{
	width: 100px;
}
#section2Title h1{
  color: #FDFFFF;
  font-size: 3.5em;
}
#section2Title span{
  color: #FFFF00;
}

#section2MainTitle{
	width: 631px;
	height: 152px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60.5px;
	margin-left: -315.5px;
	
}
#section2MainTitle h1{
  color: #FDFFFF;
  font-size: 5em;
}
#section2MainTitle span{
  color: #FFFF00;
}

#section2Body{
	width: 1060px;
}
#section3Container{
  height: 630px;
  width: 808px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -315px;
  margin-left: -404px;
}
#section3Title{
	color: #F27751;
	font-size: 3.5em;
	margin-bottom: 40px;
	font-weight: 800;
}
#section3{
  border-image: url('../image/section3/border3.png') 50 0 repeat;
  border-width: 35px 0;
}
#section3Body{
	width: 820px;
	font-size: 1.5em;
	color: #160F15;
}
#section3Row2 h2{
	color: #61274B;
	font-size: 4.5em;
	padding-left: 60px;
}
#section3Row3{
	font-weight: 800;
}
#section3Row3 p{
	font-weight: 800;
	padding-left: 60px;
}
#section4Container{
	height: 694px;
 	width: 1224px;
  	z-index: 1;
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	margin-top: -347px;
  	margin-left: -612px;
}
#section4 h1{
	font-size: 3.5em;
	color: #160F15;
}
#section4 h1 span{
	color: #61274B;
}
#section4 h4{
	color: #160F15;
}
#section5Container{
  height: 660px;
  width: 740px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -330px;
  margin-left: -370px;
}
#section5{
  border-image: url('../image/section5/border5.png') 50 0 repeat;
  border-width: 35px 0;
}
#section5Title{
	color: #FDFFFF;
	width: 700px;
  	margin-bottom: 20px;

}
#section5Title h2{
	margin-right: -75px;
  	margin-left: -75px;
  	font-size: 3.5em;
  	//font-weight: 800;
}
#section5Title h2 span{
	color: #FFFF00;
}
.flipedArrow{
	-moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
}
#section5Body{
	  width: 740px;
	  color: #FDFFFF;
}
#section6Container{
  height: 515px;
  width: 760px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -276px;
  margin-left: -380px;
}
#toaster{
	z-index: 
}
#section6Title{
	width: 758px;
}
#section6Title img{
  width: 350px;
  position: relative;
  z-index: 90;

}
#section6Body{
	width: 758px;
	margin-top: -200px;

}
#section7Container{
  height: 585px;
  width: 741px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -292.5px;
  margin-left: -370.5px;
}
#section7{
  border-image: url('../image/section7/border7.png') 50 0 repeat;
  border-width: 35px 0 0 0;
}
#section7Body{
	  width: 800px;
}
#section7Body table{
	width: 780px;
}
#section7Title{
  width: 790px;
}
#play{
	position: absolute;
	top: 250px;
	left: 600px;
}


