/*
Color Palette :
	Purple #61274B 
	Dark Purple #3A122D
	Cyan #00C7C4
	Yellow #FFFF00
	Grey #C4C4C4
	Orange: #F27751
	black : #160F15
	white: #FDFFFF
*/

::-webkit-scrollbar { 
    display: none; 
}
.center{
	margin: 0 auto;
	display: block;
	float: none;
}
#title{
  position: relative;
  height: 100%;
}
#section0Title{
  height: 75%;
  width: 90%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30%;
  margin-left: -45%;
}
#section1{
  border-image: url('../image/section1/border.png') 43 0 repeat;
  border-width: 25px 0;
}

#mainTable{
  margin-top: -20px;
  width: 880px;
}
#section1 hgroup{
	width: 465px;
}
#section1 h2{ 
  font-weight: 800;
  font-size: 3.5em;
  color: #61274B;
}
#section1 span{
   color: #F27751;
}
#section1leftSide{
	width: 420px;
}
#section1middleSide{
	width: 270px;
}
#mobileSection{
	background-image: url(../image/section1/mobile-02.svg);
	background-repeat: no-repeat;
}
#mobileSection img{
	margin: 0 10px;
	visibility: hidden;
}
#mobileSection:hover{
	background-image: url(../image/section1/colored/mobile_col-02.svg);
	background-repeat: no-repeat;
}
#radioPale{
	visibility: hidden;
}
#radioSection{
	margin-right: 20px;
	background-image: url(../image/section1/radio-06.svg);
	background-repeat: no-repeat;
}
#radioSection:hover{
	background-image: url(../image/section1/colored/radio_col.svg);
	background-repeat: no-repeat;
}
#musicNotes{
	visibility: hidden;
}
#lampPale{
	margin-bottom: 15px; 
}
#section1rightSide{
	width: 201px;
}
#section2{
  border-image: url('../image/section2/border_2.png') 207 0 140 0 repeat;
  border-width: 100px 0 70px 0;
}
#section2Title{
  width: 400px;
}
#section2Title img{
	width: 70px;
}
#section2Title h1{
  color: #FDFFFF;
}
#section2Title span{
  color: #FFFF00;
}
#section2Body{
	width: 1060px;
}
#section3{
  border-image: url('../image/section3/border_3.png') 57 0 repeat;
  border-width: 32px 0;
}
#section3Body{
	width: 820px;
}
#section5{
  border-image: url('../image/section5/border_5.png') 57 0 repeat;
  border-width: 32px 0;
}
#section5Title{
	  width: 500px;
}
#section5Body{
	  width: 740px;
}
#section6Body{
	width: 795px;
}
#section7{
  border-image: url('../image/section7/border_7.png') 57 0 repeat;
  border-width: 32px 0 0 0;
}
#section7Body{
	  width: 800px;
}
#section7Body table{
	width: 780px;
}
#section7Title{
  width: 790px;
  position: absolute;
  top: 0;
  clip: rect(35px,665px,420px,145px);
}
#sect7row1{
	height: 440px;
	position: relative;
}


